@import "tailwindcss";


/* Luego tu bloque @theme justo después */
@theme {
  --color-primary: #1f2937;
  --color-accent:  #00ca73;
  --font-orbitron: "Orbitron", sans-serif;
  --font-poppins:  "Poppins", sans-serif;
}

body {
  margin: 0;
}

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}



