/* @import "tailwindcss"; */
@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@theme {
  /* Colors */
  /* Primary - Dark Blue*/
  --color-primary: #0d2c53;     /* Dark Blue */
  --color-primary-hover: #29a1f5;  /* Blue Hover */
  --color-primary-neon: #04D9FF; /* Neon Blue */
  /*--color-primary: #3db2ff;        /* azul cian */

  /* Secondary - Neon Green */
  --color-secondary: #00ca73;         /* Verde Fluor */

  /* Fondos */
  --color-bg-dark: #0A2341;        /* azul muy oscuro */
  --color-bg-darker: #0D2C53;      /* variante más oscura */
  --color-bg-overlay: rgba(0, 20, 50, 0.85); /* overlay translúcido */

  /* Texto */
  --color-text: #ffffff;           /* Main Text - White */
  --color-text-muted: #C4C6C9;     /* Subtle gray */
  --color-text-secondary: #cce6ff; /* Light Blue For labels */

  /* Extras */
  --color-shadow-cyan: rgba(0,150,255,0.3);

  /* Fuentes */
  --font-orbitron: "Orbitron", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
/* @theme {
  --color-primary: #1f2937;
  --color-accent:  #00ca73;
  --font-orbitron: "Orbitron", sans-serif;
  --font-poppins:  "Poppins", sans-serif;
} */



body {
  margin: 0;
}

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

.contact-section {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 20px 0px;
  box-sizing: border-box;


    /* Fondo acompañando al formulario */
  background: rgba(0, 20, 50, 0.85); 
  backdrop-filter: blur(4px); /* opcional: efecto vidrio */
}


@keyframes pop-in {
  0% {
    opacity: 0;
    transform: scale(0.50);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



@layer utilities {
  .animate-pop-in {
    animation: pop-in 0.45s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  }
}