*{
    font-family: 'Orbitron', sans-serif;
}

.font-color {
    color: #C6C7C9
}


.navbar {
    background-color: #0d2c53;
    opacity: 0.95;
}
.navbar-link {
    font-size: 1.5rem;
}
.navbar-link:hover {
    color: #00ca73;
}


/* HERO */
.hero{
    background-image: url("../background1.png");;
    background-color: #0d2c53;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #C6C7C9;
}